/* Write your CSS here! */
.header-images {
    height: 450px;
}

img {
    height: 400px;
}

#mainHeading {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    color: red;
}

h2 {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

#testp {
    color: blue;
}

.funParagraph {
    color: green;
}

h3 { 
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}


p {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 50px;
        margin-left: 50px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
}

body {
    margin: 8px;
    display: block;
}